@use 'src/main.scss' as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

    .headerSearch{
        border: none;
        outline: none;
        background-color: #347bd133;
        border-radius: 16px;
        height: 30px;
        min-width: 200px;
        width: 400px;
        max-width: 600px;
        padding: 12px 15px;
        box-shadow: 0px 0px 15px $color-shadow-red-inactive;
        color: $color-write-blue;
    }
    .headerSearch::placeholder{
        color: $color-placeholder;
    }
    .headerSearch:focus-visible{
        box-shadow: 0px 0px 15px $color-shadow-red-active;
    }
    .headerSearchResoult{
        display: none;
        padding: 3px 10px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 500px;
        width: 300px;

        .searchGroup{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            width: 100%;
            .searchGroupName{
                color: $color-red;
            }
            .SearchGroupInfo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
                cursor: pointer;
                .searchFilmImg{
                    width: 40px;
                }
                .planets{
                    border-radius: 24px;
                }
                div{
                    color: white;
                }
            }
            .SearchGroupInfo:hover{
                box-shadow: 0px 0px 15px $color-shadow-red-inactive;
                padding: 3px;
                border-radius: 6px;
            }
        }
        
    }
    .headerSearch:focus-visible ~ .headerSearchResoult{
        display: block;
        position: absolute;
        top: 60px;
        left: 20px;
        display: block;
        min-width: 200px;
        max-width: 500px;
        max-height: 500px;
        background-color: $color-background;
        border: var(redPage);
        border-radius: 10px;
    }
    .headerSearchResoult:hover{
        display: block;
    }
}