$color-shadow-red-inactive: rgba(255, 0, 0, 0.466);
$color-shadow-red-active: red;
$color-background-blue: rgba(0, 0, 255, 0.349);
$color-background-red: rgba(255, 0, 0, 0.212);
$color-red: red;
$color-blue: blue;
$color-placeholder: rgba(238, 130, 238, 0.158);
$color-background: rgba(23, 53, 88, 0.678);
$color-write-blue: rgba(0, 0, 255, 0.452);